[Desktop Entry]
Name=CityNight
Name[bs]=CityNight
Name[ca]=CityNight
Name[ca@valencia]=CityNight
Name[cs]=CityNight
Name[da]=CityNight
Name[de]=CityNight
Name[el]=CityNight
Name[en_GB]=CityNight
Name[es]=CityNight
Name[et]=CityNight
Name[eu]=CityNight
Name[fi]=CityNight
Name[fr]=CityNight
Name[gl]=CityNight
Name[hu]=CityNight
Name[id]=CityNight
Name[it]=CityNight
Name[kk]=CityNight
Name[ko]=CityNight
Name[lt]=CityNight
Name[mr]=CityNight
Name[nb]=CityNight
Name[nds]=CityNight
Name[nl]=CityNight
Name[nn]=CityNight
Name[pl]=CityNight
Name[pt]=CityNight
Name[pt_BR]=CityNight
Name[ro]=CityNight
Name[ru]=CityNight
Name[sk]=CityNight
Name[sl]=CityNight
Name[sr]=CityNight
Name[sr@ijekavian]=CityNight
Name[sr@ijekavianlatin]=CityNight
Name[sr@latin]=CityNight
Name[sv]=CityNight
Name[tr]=CityNight
Name[uk]=CityNight
Name[wa]=CityNight
Name[x-test]=CityNight
Name[zh_CN]=CityNight
Name[zh_TW]=CityNight
Comment=CityNight
Comment[ca]=CityNight
Comment[ca@valencia]=CityNight
Comment[cs]=CityNight
Comment[da]=CityNight
Comment[de]=CityNight
Comment[el]=CityNight
Comment[en_GB]=CityNight
Comment[es]=CityNight
Comment[eu]=CityNight
Comment[fi]=CityNight
Comment[fr]=CityNight
Comment[gl]=CityNight
Comment[hu]=CityNight
Comment[id]=CityNight
Comment[it]=CityNight
Comment[ko]=CityNight
Comment[nl]=CityNight
Comment[nn]=CityNight
Comment[pl]=CityNight
Comment[pt]=CityNight
Comment[pt_BR]=CityNight
Comment[ru]=CityNight
Comment[sk]=CityNight
Comment[sl]=CityNight
Comment[sr]=CityNight
Comment[sr@ijekavian]=CityNight
Comment[sr@ijekavianlatin]=CityNight
Comment[sr@latin]=CityNight
Comment[sv]=CityNight
Comment[tr]=CityNight
Comment[uk]=CityNight
Comment[x-test]=CityNight
Comment[zh_CN]=CityNight
Comment[zh_TW]=CityNight
Icon=preferences-desktop-wallpaper

Type=Service
X-KDE-ServiceTypes=Plasma/Wallpaper

X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=DocInLA
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=CityNight
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=LGPL-3.0
X-KDE-PluginInfo-EnabledByDefault=true
